<h1>Editing Prescription</h1>

<%= render 'form', prescription: @prescription %>

<%= link_to 'Show', patient_prescription_path(@patient, :prescription) %> |
<%= link_to 'Back', patient_prescriptions_path %>
